<table class="w-full border-collapse  border-gray-200 bg-white text-left text-sm text-gray-500 border-2">
   <template x-for="(item, idx) in filteredItems()" :key="idx">
      {{>block}}
   </template>
</table>
